.footer {
  background: #222;
  border-top: 5px solid #333;
  color: #ccc;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
